<table >
	<thead>
		<tr>
			<th style="border: 1px solid #000;"><h2>{{City}}</h2></th>
		</tr>
	</thead>
	<tbody style="background-color:#FFEEEE;width:440px;border-color:red;">
		<tr style="">
			<td style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		</tr>
	 	<tr>
			<th><h2>{{Name}}</h2></th>
		</tr>
			<td style="padding: 10px">
				Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			</td>
		<tr>
			<th><h2>{{Occupation}}</h2></th>
		</tr>
		<tr>
			<td style="color:#AAAAFF;padding: 10px;" rowspan="3">
			<p>cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>***This was an exploration of procedural generation of Email style content with Javascript***</p>

		</td>
	</tr>



	</tbody>
</table>