	<body>
		<h1 style='font-size:30pt;text-align:center;'>Hello World</h1>
		<h3 style='color: red; font-size: 15pt; '><small>Proof of Concept</small></h3>
		<p style='padding: 5px;margin:5px;'>Here is the rest of the message</p>
		<p style='padding: 5px;margin: 5px;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		<ul>
			<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
			<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
			<li>	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</li>
	
		</ul>
		
		<p> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<div style='width: auto; height:200px;'>
			<h2 style='color: yellow; ;text-align: center;'>At this point</h2>
			<p>
				I've made it so that you can create any styling of html you would like. Although, all styles MUST be inline.
			</p>
		</div>
	</body>