<body style="font-family: sans-serif;">
	<table class="wrapper"  cellspacing="20px" width="500px" align="center"
	style=" background-color: #F9F9F9;">
		<tr class="wrapperRow">
			<td class="wrapperData">
<!-- -->
				<table cellspacing="0" cellpadding="0px" align="center" width="100%" border="0" style="border-bottom:3px solid black;background-color: #fff ">
					<tr>
						<td>
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSFoNgpHB022a1HRZJElMci0doCIynvx97roVD-MjL36l_Zv1twA" width="200px">
						</td>
						<td>
							<img src="https://cdn.pixabay.com/photo/2017/01/17/23/05/arrow-1988452_960_720.png" width="300px">
						</td>
					</tr>
				</table>
				<table cellspacing="20">
					<tr>
						<td>
						
						</td>
					</tr>
				</table>
				<table  cellspacing="0" cellpadding="20px" align="center" width="100%" style="background-color: #fff" >
					<tr><td></td></tr>
					<tr>
						<td>
							Dear Valued Customer,
						</td>
					</tr>
					<tr>
						<td>
							We thank you for recent purchase of {your product here} in the amount of $36.79. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Purchase details below:
						</td>
					</tr>
					<tr>
						<td>
							<table cellspacing="20" cellpadding="0">
								<tr>
									<td>
										<p>Billing Address:</p>
										<p>John Doe</p>
										<p>2555 BigStreet Ln</p> 
										<p>City, State 33082-56732 </p>

									</td>
								</tr>
								<tr>
									<td>
										<p>Card: ****-****-****-6789</p>
										<p>Amount: $36.79</p>
<p>Confirmation: #267563436475</p>
<p>Tracking-Number: USPS 234JN-2343C3-234VSDV-2R78894-FLKMJNB24-LKJLHK</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<table align="center" style="background-color: #f0f0f0" width="100%" cellpadding="8px">
					<tr>
						<td ></td>
					</tr>
					<tr align="center">
						<td><a href="https://www.facebook.com"><img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" width="30px"></a>
						<a href="https://www.twitter.com"><img src="http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png" width="30px"></a>
						<a href="https://www.instagram.com"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png" width="30px"></a>
						<a href="https://www.snapchat.com"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c536.png" width="30px"></a></td>

					</tr>
					<tr>
						<td style="font-size: 7pt; text-align: center;">
							This message was meant for {User} because of a subcription to { Company subscriptions }. Please do not reply to this address, as it is not monitored.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							© 2019 Company Inc. All Rights Reserved.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							To ensure proper delivery, add company@email.com to recipients.
						</td>
					</tr>
					<tr align="center">
						<td style="width: 30%; font-size: 7pt;">
							<a style="color: blue;" href="https://www.google.com">Contact Us</a> |
							<a style="color: blue;" href="https://www.google.com">Unsubscribe</a> |
							<a style="color: blue;" href="https://www.google.com">Privacy</a>
						</td>						
					</tr>
					<tr>
						<td style="font-size: 7pt; text-align: justify;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						
						</td>
					</tr>
						<tr>
						<td style="font-size: 7pt; text-align: justify;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							cillum dolore eu fugiat nulla pariatur. Excepteur pa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: left;">
							<div>Contact us directly: Phone: (800)-555-2345</div>
							<div>Email: monitored@email.com</div>
							<div>Fax: (837)-552-6264. Processed before 5pm EST</div>
							<div>2555 BigStreet Ln , City , State, Zipcode</div>
							<div>P.O. Box 12-577890</div>
						</td>
					</tr>
				</table>
<!--  -->
			</td>
		</tr>
	</table>
<body>