<body style="font-family: sans-serif; ">
	<table class="wrapper"  cellspacing="20px" width="500px" align="center"
	style="; background-color: #F9F9F9;">
		<tr class="wrapperRow">
			<td class="wrapperData">
<!-- -->
				<table class="header" cellspacing="0" cellpadding="0" align="center" width="100%" border="0" style="border-bottom:5px solid #a0a0FF; text-align: center;background-color: #f0f0FF ">
					<tr>
						<td>
							<img src="https://www.freelogodesign.org/Content/img/logo-ex-7.png" width="150px" >
						</td>
					</tr>
				</table>
				<table class="topics" cellspacing="0" cellpadding="20" align="center" width="100%" border="0" style="background-color: #3f3f3f">
					<tr>
						<td>
							<p style="color: #ffffff; font-size: 24pt; font-weight: bold;">Forum Topics</p>
						</td>
					</tr>
					<tr  >
						<td align="center">
						<div style="background-color:  #a6a6ff;border-radius: 1px; height: 2px; width: 70%;"></div>
						</td>
					</tr>
					<tr>
						<td>
							<table class="posts" cellspacing="0" cellpadding="0"  width="100%" border="0" >
								<tr>
									<td>
										<p style="background-color: #ff0000; width :40%;color: white;border-radius: 5px; padding: 2px;font-size:9pt;font-weight: bold; text-align: center;">Forum Subject</p>
									</td>
									<td align="right">
										<p style="color: grey;font-size: 8pt">Feb-27-2019</p>
									</td>
								</tr>
							</table>
							<table>
								<tr>
									<td>
										<table class="item" cellspacing="0" cellpadding="5" align="center" width="100%" border="0" style="border-bottom: 1px solid #a0a0ff">
											<tr >
												<td align="center">
													<img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-instructor-photos.s3.amazonaws.com/91/d1b940ec2611e3ae8fafcde7f82495/fconrad_Portrait_060414a.jpg" width="50px" style="border-radius: 50%; border: 3px solid #a0a0ff">
												</td>
											
												<td rowspan="2">
													<p style="color: #a0a0ff; font-weight: bold; width:200px">Forum Title, Lorem	ipsum dolor sit amet.</p>
												</td>
											</tr>
											<tr>
													<td style="font-weight:bold;font-size: 7pt; text-align: center;color: white;">
													username
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div style="background-color: #fff;height:100px;  border-radius: 5px;padding: 10px; font-size: 9pt; font-family: sans-serif;">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
														cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</td>
											</tr>
											<tr>
												<td align="right" style="color: #9090ff; font-size: 8pt;">
													Read More ►
												</td>
												<td align="right">
													<table cellspacing="10">
														<tr>
															<td style=" font-size: 8pt;"> <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" width="10px" style="padding-right: 5px;"><a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Like</a></td>
															<td style=" font-size: 8pt;"> 💬 <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Comment</a></td>
															<td style=" font-size: 8pt;color: white"> ⮫ <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Share</a></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table class="posts" cellspacing="0" cellpadding="0"  width="100%" border="0" >
								<tr>
									<td>
										<p style="background-color: #00a000; width :40%;color: white;border-radius: 5px; padding: 2px;font-size:9pt;font-weight: bold; text-align: center;">Forum Subject</p>
									</td>
									<td align="right">
										<p style="color: grey;font-size: 8pt">Feb-27-2019</p>
									</td>
								</tr>
							</table>
							<table>
								<tr>
									<td>
										<table class="item" cellspacing="0" cellpadding="5" align="center" width="100%" border="0" style="border-bottom: 1px solid #a0a0ff">
											<tr >
												<td align="center">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-pwYeeDYQynA0QJPSb7AUsAigb5bAw0zM1PF-x6SZI4xq4h9V" width="50px" style="border-radius: 50%; border: 3px solid #a0a0ff">
												</td>
											
												<td rowspan="2">
													<p style="color: #a0a0ff; font-weight: bold; width:200px">Forum Title, Lorem	ipsum dolor sit amet.</p>
												</td>
											</tr>
											<tr>
													<td style="font-weight:bold;font-size: 7pt; text-align: center;color: white;">
													username
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div style="background-color: #fff;height:100px;  border-radius: 5px;padding: 10px; font-size: 9pt; font-family: sans-serif;">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. Duis aute irure dolor in rdeserunt mollit anim id est laborum.
													</div>
												</td>
											</tr>
											<tr>
												<td align="right" style="color: #9090ff; font-size: 8pt;">
													Read More ►
												</td>
												<td align="right">
													<table cellspacing="10">
														<tr>
															<td style=" font-size: 8pt;"> <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" width="10px" style="padding-right: 5px;"><a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Like</a></td>
															<td style=" font-size: 8pt;"> 💬 <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Comment</a></td>
															<td style=" font-size: 8pt;color: white"> ⮫ <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Share</a></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
										<tr>
						<td>
							<table class="posts" cellspacing="0" cellpadding="0"  width="100%" border="0" >
								<tr>
									<td>
										<p style="background-color: #af00af; width :40%;color: white;border-radius: 5px; padding: 2px;font-size:9pt;font-weight: bold; text-align: center;">Forum Subject</p>
									</td>
									<td align="right">
										<p style="color: grey;font-size: 8pt">Feb-27-2019</p>
									</td>
								</tr>
							</table>
							<table>
								<tr>
									<td>
										<table class="item" cellspacing="0" cellpadding="5" align="center" width="100%" border="0" style="border-bottom: 1px solid #a0a0ff">
											<tr >
												<td align="center">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwourhShWHkGr-mhJgkrW5IiHENMeUtg2omyp7X3puBIQabv8BDg" width="50px" style="border-radius: 50%; border: 3px solid #a0a0ff">
												</td>
											
												<td rowspan="2">
													<p style="color: #a0a0ff; font-weight: bold; width:200px">Forum Title, Lorem	ipsum dolor sit amet.</p>
												</td>
											</tr>
											<tr>
													<td style="font-weight:bold;font-size: 7pt; text-align: center;color: white;">
													username
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div style="background-color: #fff;height:100px;  border-radius: 5px;padding: 10px; font-size: 9pt; font-family: sans-serif;">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
														tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
														quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
														cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</td>
											</tr>
											<tr>
												<td align="right" style="color: #9090ff; font-size: 8pt;">
													Read More ►
												</td>
												<td align="right">
													<table cellspacing="10">
														<tr>
															<td style=" font-size: 8pt;"> <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" width="10px" style="padding-right: 5px;"><a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Like</a></td>
															<td style=" font-size: 8pt;"> 💬 <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Comment</a></td>
															<td style=" font-size: 8pt;color: white"> ⮫ <a href="https://www.google.com" style="text-decoration: underline;color: #9090ff;">Share</a></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<table align="center" style="background-color: #f0f0f0" width="100%" cellpadding="8px">
					<tr>
						<td ></td>
					</tr>
					<tr align="center">
						<td><a href="https://www.facebook.com"><img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" width="30px"></a>
						<a href="https://www.twitter.com"><img src="http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png" width="30px"></a>
						<a href="https://www.instagram.com"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png" width="30px"></a>
						<a href="https://www.snapchat.com"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c536.png" width="30px"></a></td>

					</tr>
					<tr>
						<td style="font-size: 7pt; text-align: center;">
							This message was meant for {User} because of a subcription to { Company subscriptions }. Please do not reply to this address, as it is not monitored.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							© 2019 Company Inc. All Rights Reserved.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							To ensure proper delivery, add company@email.com to recipients.
						</td>
					</tr>
					<tr align="center">
						<td style="width: 30%; font-size: 7pt;">
							<a style="color: blue;" href="https://www.google.com">Contact Us</a> |
							<a style="color: blue;" href="https://www.google.com">Unsubscribe</a> |
							<a style="color: blue;" href="https://www.google.com">Privacy</a>
						</td>						
					</tr>
					<tr>
						<td style="font-size: 7pt; text-align: justify;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						
						</td>
					</tr>
						<tr>
						<td style="font-size: 7pt; text-align: justify;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							cillum dolore eu fugiat nulla pariatur. Excepteur pa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: left;">
							<div>Contact us directly: Phone: (800)-555-2345</div>
							<div>Email: monitored@email.com</div>
							<div>Fax: (837)-552-6264. Processed before 5pm EST</div>
							<div>2555 BigStreet Ln , City , State, Zipcode</div>
							<div>P.O. Box 12-577890</div>
						</td>
					</tr>
				</table>
				</table>
<!--  -->
			</td>
		</tr>
	</table>
<body>