<body style="font-family: Arial;">
	<table class="wrapper"  cellspacing="20px" width="500px" align="center"
	style=" background-color: #F9F9F9;">
		<tr class="wrapperRow">
			<td class="wrapperData">
<!-- -->
				<table class="header" cellspacing="0" cellpadding="0" align="center" width="100%" border="0" style="border-bottom:5px solid #a0a0FF; text-align: center;background-color: #f0f0FF ">
					<tr>
						<td>
							<img src="https://www.freelogodesign.org/Content/img/logo-ex-7.png" width="200px" >
						</td>
					</tr>
				</table>
				<table cellspacing="10">
					<tr><td></td></tr>
				</table>
				<table class="header" cellspacing="20" cellpadding="10" align="center" width="100%" border="0" style="background-color: #fff">
					<tr>
						<td>
							Dear Valued Customer,
						</td>
					</tr>
					<tr>
						<td style="font-size: 10pt">
							To better serve you, we invite you to participate in this quick survey about your recent visit/experience. Please take a moment to share a few thoughts.
						</td>
					</tr>
					<tr>
						<td style="font-size: 10pt">
							Please rate your satisfaction overall:
						</td>
					</tr>
				</table>
				<table border="0" cellspacing="10" align="center"  >
					<tr>
						<td style="font-size: 9pt; font-weight: bold;">
							Not Satisfied
						</td>
						<td width="65%"></td>
						<td style="font-size: 9pt; font-weight: bold;">Very Satified</td>
					</tr>
				</table>
				<table border="0" align="center">
					<tr>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">1</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">2</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">3</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">4</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">5</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">6</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">7</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">8</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">9</a>
						</td>
						<td style="border:1px solid black; padding: 10px; width: 20px; height: 20px; text-align: center;"><a href="">10</a>
						</td>
					</tr>
					<tr><td height="40px"></td></tr>
				</table>

					<table align="center" style="background-color: #f0f0f0" width="100%" cellpadding="8px">
					<tr>
						<td ></td>
					</tr>
					
					<tr>
						<td style="font-size: 7pt; text-align: center;">
							This message was meant for {User} because of a subcription to { Company subscriptions }. Please do not reply to this address, as it is not monitored.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							© 2019 Company Inc. All Rights Reserved.
						</td>
					</tr>
					<tr>
						<td style="font-size: 7pt;text-align: center;">
							To ensure proper delivery, add company@email.com to recipients.
						</td>
					</tr>
					<tr align="center">
						<td style="width: 30%; font-size: 7pt;">
							<a style="color: blue;" href="https://www.google.com">Contact Us</a> |
							<a style="color: blue;" href="https://www.google.com">Unsubscribe</a> |
							<a style="color: blue;" href="https://www.google.com">Privacy</a>
						</td>						
					</tr>
					<tr>
						<td style="font-size: 7pt; text-align: justify;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						
						</td>
					</tr>
					
					<tr>
						<td style="font-size: 7pt;text-align: left;">
							<div>Contact us directly: Phone: (800)-555-2345</div>
							<div>Email: monitored@email.com</div>
							<div>Fax: (837)-552-6264. Processed before 5pm EST</div>
							<div>2555 BigStreet Ln , City , State, Zipcode</div>
							<div>P.O. Box 12-577890</div>
						</td>
					</tr>
				</table>
<!--  -->
			</td>
		</tr>
	</table>
<body>